<h1>Editing aprendiz</h1>

<%= render "form", aprendiz: @aprendiz %>

<br>

<div>
  <%= link_to "Ver aprendiz", @aprendiz, class:"btn btn-info" %> |
  <%= link_to "Listado de aprendices", aprendizs_path, class:"btn btn-primary" %>
</div>
